<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-between py-3">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{% trans "Courses" %}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'courses:courses_list' %}">{% trans "All Courses" %}</a></li>
                    {% for origin in origins %}
                    <li><a class="dropdown-item" href="{% url 'origin:filtered_courses' pk=origin.id %}?origin={{ origin.id }}">{{ origin.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item"><a href="{% url 'origin:origins' %}" class="nav-link">{% trans "By origin" %}</a></li>
            <li class="nav-item"><a href="{% url 'reviews:reviews_list' %}" class="nav-link">{% trans "Reviews" %}</a></li>
        </ul>
        <div>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                    <option value="uk" {% if LANGUAGE_CODE == 'uk' %}selected{% endif %}>Українська</option>
                </select>
            </form>
        </div>
    </header>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
