<!-- Courses_List.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% for course in courses %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">Description: {{ course.description|truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'courses:course_detail' course.pk %}" class="btn btn-sm btn-outline-secondary">View</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}